	<div class="page-header">
	  <div class="row">
	    <div class="col-lg-12">
	      <h1 id="buttons">Crime Report Stats</h1>
	    </div>
	  </div>
	</div>

	<section>

	<header>
		<h2>10 Year Police Report Summary</h2>
	</header>

	<p>The following data was compiled from reports filed by the Columbus Ohio Division of Police.
	The reports can be publicly accessed at <a href="//columbuspolice.org/Reports/"> http://columbuspolice.org/Reports/</a>.</p><br/>

	<div id="container" style="min-width: 310px; max-width: 1200px; height: 600px; margin: 0 auto"></div>
	<script>
	$(function () {
	    $('#container').highcharts({
	        chart: {
	            type: 'bar'
	        },
	        title: {
	            text: '2006-2015 Police Reports'
	        },
	        xAxis: {
	            categories: ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
	        },
	        yAxis: {
	            min: 0,
	            title: {
	                text: 'Total Crime Reports'
	            }
	        },
	        legend: {
	            reversed: true
	        },
	        plotOptions: {
	            series: {
	                stacking: 'normal'
	            }
	        },
	        series: [{
	            name: 'Assault',
	            data: [<%= Report.where(:category => "Assault", :year => "2006").count %>, <%= Report.where(:category => "Assault", :year => "2007").count %>, <%= Report.where(:category => "Assault", :year => "2008").count %>, <%= Report.where(:category => "Assault", :year => "2009").count %>, <%= Report.where(:category => "Assault", :year => "2010").count %>, <%= Report.where(:category => "Assault", :year => "2011").count %>, <%= Report.where(:category => "Assault", :year => "2012").count %>, <%= Report.where(:category => "Assault", :year => "2013").count %>, <%= Report.where(:category => "Assault", :year => "2014").count %>, <%= Report.where(:category => "Assault", :year => "2015").count %>]
	        }, {
	            name: 'Burglary',
	            data: [<%= Report.where(:category => "Burglary", :year => "2006").count %>, <%= Report.where(:category => "Burglary", :year => "2007").count %>, <%= Report.where(:category => "Burglary", :year => "2008").count %>, <%= Report.where(:category => "Burglary", :year => "2009").count %>, <%= Report.where(:category => "Burglary", :year => "2010").count %>, <%= Report.where(:category => "Burglary", :year => "2011").count %>, <%= Report.where(:category => "Burglary", :year => "2012").count %>, <%= Report.where(:category => "Burglary", :year => "2013").count %>, <%= Report.where(:category => "Burglary", :year => "2014").count %>, <%= Report.where(:category => "Burglary", :year => "2015").count %>]
	        }, {		         
	            name: 'Motor Vehicle Theft',
	            data: [<%= Report.where(:category => "Motor Vehicle Theft", :year => "2006").count %>, <%= Report.where(:category => "Motor Vehicle Theft", :year => "2007").count %>, <%= Report.where(:category => "Motor Vehicle Theft", :year => "2008").count %>, <%= Report.where(:category => "Motor Vehicle Theft", :year => "2009").count %>, <%= Report.where(:category => "Motor Vehicle Theft", :year => "2010").count %>, <%= Report.where(:category => "Motor Vehicle Theft", :year => "2011").count %>, <%= Report.where(:category => "Motor Vehicle Theft", :year => "2012").count %>, <%= Report.where(:category => "Motor Vehicle Theft", :year => "2013").count %>, <%= Report.where(:category => "Motor Vehicle Theft", :year => "2014").count %>, <%= Report.where(:category => "Motor Vehicle Theft", :year => "2015").count %>]
	        }, {
	            name: 'Murder',
	            data: [<%= Report.where(:category => "Murder", :year => "2006").count %>, <%= Report.where(:category => "Murder", :year => "2007").count %>, <%= Report.where(:category => "Murder", :year => "2008").count %>, <%= Report.where(:category => "Murder", :year => "2009").count %>, <%= Report.where(:category => "Murder", :year => "2010").count %>, <%= Report.where(:category => "Murder", :year => "2011").count %>, <%= Report.where(:category => "Murder", :year => "2012").count %>, <%= Report.where(:category => "Murder", :year => "2013").count %>, <%= Report.where(:category => "Murder", :year => "2014").count %>, <%= Report.where(:category => "Murder", :year => "2015").count %>]
	        }, {
	            name: 'Rape',
	            data: [<%= Report.where(:category => "Rape", :year => "2006").count %>, <%= Report.where(:category => "Rape", :year => "2007").count %>, <%= Report.where(:category => "Rape", :year => "2008").count %>, <%= Report.where(:category => "Rape", :year => "2009").count %>, <%= Report.where(:category => "Rape", :year => "2010").count %>, <%= Report.where(:category => "Rape", :year => "2011").count %>, <%= Report.where(:category => "Rape", :year => "2012").count %>, <%= Report.where(:category => "Rape", :year => "2013").count %>, <%= Report.where(:category => "Rape", :year => "2014").count %>, <%= Report.where(:category => "Rape", :year => "2015").count %>]
	        }, {
	        	name: 'Robbery',
	            data: [<%= Report.where(:category => "Robbery", :year => "2006").count %>, <%= Report.where(:category => "Robbery", :year => "2007").count %>, <%= Report.where(:category => "Robbery", :year => "2008").count %>, <%= Report.where(:category => "Robbery", :year => "2009").count %>, <%= Report.where(:category => "Robbery", :year => "2010").count %>, <%= Report.where(:category => "Robbery", :year => "2011").count %>, <%= Report.where(:category => "Robbery", :year => "2012").count %>, <%= Report.where(:category => "Robbery", :year => "2013").count %>, <%= Report.where(:category => "Robbery", :year => "2014").count %>, <%= Report.where(:category => "Robbery", :year => "2015").count %>]
	        }, {
	            name: 'Theft From Motor Vehicle',
	            data: [<%= Report.where(:category => "Theft From Motor Vehicle", :year => "2006").count %>, <%= Report.where(:category => "Theft From Motor Vehicle", :year => "2007").count %>, <%= Report.where(:category => "Theft From Motor Vehicle", :year => "2008").count %>, <%= Report.where(:category => "Theft From Motor Vehicle", :year => "2009").count %>, <%= Report.where(:category => "Theft From Motor Vehicle", :year => "2010").count %>, <%= Report.where(:category => "Theft From Motor Vehicle", :year => "2011").count %>, <%= Report.where(:category => "Theft From Motor Vehicle", :year => "2012").count %>, <%= Report.where(:category => "Theft From Motor Vehicle", :year => "2013").count %>, <%= Report.where(:category => "Theft From Motor Vehicle", :year => "2014").count %>, <%= Report.where(:category => "Theft From Motor Vehicle", :year => "2015").count %>]
	        }]
	    });
	});
	</script><br/>
</section>
