<div class="sub-head">
	<div class="container">
		<h1>Crime Report Stats</h1>
	</div>
</div>

<div class="container">
	<!-- Highcharts.com JavaScript -->
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>

	<section>

		<header>
			<h2>10 Year Police Report Summary</h2>
		</header>

		<p>The following data was compiled from reports filed by the Columbus Ohio Division of Police.
		The reports can be publicly accessed at <a href="//columbuspolice.org/Reports/"> http://columbuspolice.org/Reports/</a>.</p>

		<% 
			@Assault_2014 = Report.where(:category => "Assault", :year => "2014").count
			@Burglary_2014 = Report.where(:category => "Burglary", :year => "2014").count
			@Rape_2014 = Report.where(:category => "Rape", :year => "2014").count
			@Murder_2014 = Report.where(:category => "Murder", :year => "2014").count
			@TheftFromMotorVehicle_2014 = Report.where(:category => "Theft From Motor Vehicle", :year => "2014").count
			@MotorVehicleTheft_2014 = Report.where(:category => "Motor Vehicle Theft", :year => "2014").count
		%>

		<!-- Highcharts.com JavaScript -->
		<div id="container" style="min-width: 310px; max-width: 1200px; height: 600px; margin: 0 auto"></div>
		<script>
		$(function () {
		    $('#container').highcharts({
		        chart: {
		            type: 'bar'
		        },
		        title: {
		            text: '2005-2015 Police Reports'
		        },
		        xAxis: {
		            categories: ['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
		        },
		        yAxis: {
		            min: 0,
		            title: {
		                text: 'Total Crime Reports'
		            }
		        },
		        legend: {
		            reversed: true
		        },
		        plotOptions: {
		            series: {
		                stacking: 'normal'
		            }
		        },
		        series: [{
		            name: 'Assault',
		            data: [5, 3, 4, 7, 2, 1, 1, 1, 1, <%= @Assault_2014 %>]
		        }, {
		            name: 'Burglary',
		            data: [2, 2, 3, 2, 1, 1, 1, 1, 1, <%= @Burglary_2014 %>]
		        }, {		         
		            name: 'Motor Vehicle Theft',
		            data: [3, 4, 4, 2, 5, 1, 1, 1, 1, <%= @MotorVehicleTheft_2014 %>]
		        }, {
		            name: 'Murder',
		            data: [3, 4, 4, 2, 5, 1, 1, 1, 1, <%= @Murder_2014 %>]
		        }, {
		            name: 'Rape',
		            data: [3, 4, 4, 2, 5, 1, 1, 1, 1, <%= @Rape_2014 %>]
		        }, {
		            name: 'Theft From Motor Vehicle',
		            data: [3, 4, 4, 2, 5, 1, 1, 1, 1, <%= @TheftFromMotorVehicle_2014 %>]
		        }]
		    });
		});
		</script>
	</section>
</div>