<div class="page-header">
  <div class="row">
    <div class="col-lg-12">
      <h1 id="buttons"><%= notice %></h1>
    </div>
  </div>
</div>

<p>
  <strong>Cr-number:</strong>
  <%= @report.CRNumber %>
</p>

<p>
  <strong>Date:</strong>
  <%= @report.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<p>
  <strong> victim:</strong>
  <%= @report.victim %>
</p>

<p>
  <strong>Location:</strong>
  <%= @report.location %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
